* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "tahoma";
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    background: hsl(0, 1%, 35%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        anchor-name: --card;
    }

    .box {

        height: 50px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: hsl(40, 90%, 60%);
        text-transform: uppercase;

        &:hover {
            position: absolute;
            position-anchor: --card;
            top: anchor(bottom);
            left: anchor(left);
        }
    }

    .box1 {
        background: hsl(40, 90%, 60%);
    }

    .box2 {
        background: hsl(126, 90%, 60%);
    }

    .box3 {
        background: hsl(241, 90%, 60%);
    }
}
